body {
    margin: 0;
    -webkit-text-size-adjust: none;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* iPhone 5 SE*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    body {
        width: 100%;
    }

    .header .close-icon {
        margin-left: 288px;
        margin-top: 14px;
        width: 15.5px;
        height: 15.5px;
    }

    .header .close-icon :active {
        box-shadow: #333 1px 1px 1px;
    }

    .buttons {
        position: absolute;
        left: 20px;
        top: 89px;
        width: 280px;
        height: 390px;
    }

    .big-text {
        color: #333;
        font-size: 32px;
        width: 100%;
        height: 43px;
        text-align: center;
        font-family: "SF Pro Display";
        font-weight: normal;
        font-style: bold;
    }

    .two-buttons {
        width: 100%;
        height: 156px;
        margin-top: 27px;
    }

    .container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 70px;
        border: solid 1px #ee334b;
        border-radius: 100px;
    }

    .upper-container {
        margin-top: 0;
        align-items: center;
    }

    .lower-container {
        margin-top: 14px;
        align-items: center;
    }

    .save-text {
        margin-left: 29px;
        width: 67.5px;
        height: 34px;
        color: #ee334b;
    }

    .upper-save-text {
        font-size: 15px;
        font-family: "SF Pro Display";
        font-weight: 600;
        font-style: normal;
    }

    .lower-save-text {
        font-size: 12px;
        font-family: "SF Pro Display";
        font-weight: normal;
        font-style: normal;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 140px;
        height: 41px;
        color: #fff;
        border-radius: 100px;
        background: linear-gradient(90deg,
                rgba(238, 51, 75, 1) 23%,
                rgba(250, 63, 141, 0.7) 100%);
    }

    .trial-button {
        margin-left: 28px;
    }

    .trial-button:active {
        box-shadow: #ee334b 2px 2px 2px;
    }

    .trial-button span {
        margin-left: 14px;
        width: 112px;
        font-size: 12px;
        font-family: "SF Pro Display";
        font-weight: 500;
        font-style: bold;
    }

    .price-text {
        width: 74.5px;
        height: 17px;
        margin-left: 29px;
    }

    .center-price-text {
        color: #ee334b;
        font-size: 12px;
        font-family: "SF Pro Display";
        font-weight: 400;
        font-style: normal;
    }

    .join-button {
        margin-left: 21px;
    }

    .join-button:active {
        box-shadow: #ee334b 2px 2px 2px;
    }

    .join-button span {
        font-size: 12px;
        font-family: "SF Pro Display";
        font-weight: 500;
        font-style: bold;
    }

    .list {
        position: absolute;
        top: 258px;
        right: 26px;
        font-size: 16px;
        width: 228px;
        height: 132px;
        font-size: 16px;
        font-family: "SF Pro Display";
        font-weight: 400;
        font-style: normal;
    }

    .list-item {
        display: flex;
        align-items: center;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .list-item img {
        width: 11px;
        height: 11px;
    }

    .list-item span {
        margin-left: 11px;
    }

    .footer {
        position: absolute;
        width: 100%;
        top: 540px;
        font-family: "SF Pro Display";
        font-weight: normal;
        font-style: normal;

        font-size: 11px;

        text-align: center;
    }

    .footer p {
        margin: 0;
    }

    .footer-link a {
        text-decoration: none;
        margin-left: 5px;
        margin-right: 5px;
    }

    .fading-text-block {
        position: fixed;
        width: 100%;
        z-index: 1;
        bottom: 0;
        background: linear-gradient(180deg,
                rgba(255, 255, 255, 0.5) 10%,
                rgba(255, 255, 255, 1) 80%);
        height: 42px;
    }
}

/* iPhone 6 7 8 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .header .close-icon {
        margin-left: 343px;
    }

    .buttons {
        position: absolute;
        top: 138px;
        width: 335px;
        height: 392px;
    }

    .big-text {
        font-size: 34px;
        width: 100%;
        height: 45px;
    }

    .two-buttons {
        position: absolute;
        top: 72px;
        margin-top: 0;
        height: 156px;
    }

    .save-text {
        width: 92.5px;
        height: 34px;
    }

    .upper-container {
        align-items: center;
        margin-top: 0;
    }

    .upper-save-text {
        font-size: 22px;
        margin-top: -5px;
        font-family: "SF Pro Display";
        font-weight: 400;
        font-style: normal;
    }

    .lower-save-text {
        font-size: 14px;
        font-family: "SF Pro Display";
        font-weight: 400;
        font-style: normal;
        margin-top: -2px;
    }

    .button {
        width: 162px;
    }

    .trial-button {
        margin-left: 34px;
    }

    .trial-button span {
        font-size: 14px;
        font-weight: 400;
        width: 173px;
        height: 17px;
        margin-left: 25px;
    }

    .price-text {
        width: 87px;
    }

    .center-price-text {
        font-size: 14px;
    }

    .join-button {
        margin-left: 39px;
    }

    .join-button span {
        font-size: 14px;
    }

    .list {
        position: absolute;
        top: 260px;
        right: 41px;
        width: 253px;
        height: 132px;
        font-size: 17px;
    }

    .list-item {
        margin-top: 13;
        margin-bottom: 13px;
    }

    .list-item img {
        width: 12px;
        height: 12px;
    }

    .list-item span {
        margin-left: 17px;
    }

    .footer {
        position: absolute;
        width: 100%;
        top: 640px;
    }
}

/* iPhone 6+ 7+ 8+ */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {

    .header .close-icon {
        margin-left: 382px;
    }

    .buttons {
        position: absolute;
        top: 172px;
        width: 374px;
        height: 392px;
    }

    .trial-button {
        margin-left: 72px;
    }

    .join-button {
        margin-left: 77px;
    }

    .list {
        right: 65px;
        width: 244px;
    }

    .list-item span {
        margin-left: 20px;
    }

    .footer {
        top: 708px;
    }
}

/* iPhone X */
@media only screen and (min-device-width: 375px) and (min-device-height: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
    .header .close-icon {
        margin-left: 343px;
        margin-top: 57px;
    }

    .buttons {
        top: 210px;
    }

    .footer {
        top: 750px;
    }

    .fading-text-block {
        height: 75px;
        background: linear-gradient(180deg,
                rgba(255, 255, 255, 0.5) 30%,
                rgba(255, 255, 255, 1) 45%);
    }
}